@charset "utf-8";

form div {
	margin: 30px;
	margin-top: 20px;
	margin-bottom: 80px;
}

.radios {
	position: relative;
}

.radios input {
	display: none;
}

.radios label {
	display: inline-block;
	cursor: pointer;
	width: 200px;
	height: 40px;
	background: #c0c0c0;
	margin-right: 5px;
	text-align: center;
	font-size: 40px;
	line-height: 40px;
	border-radius: 5px;
}

.radios input:checked + label {
	background: #4169e1;
	color: white;
}

.heading {
	font-size: 30px;
	margin-bottom: 10px;
}

.board {
	width: 870px;
	height: 810px;
	border: solid #000000 1px;
	border-radius: 8px;
	position: relative;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
}

.board h1 {
	font-size: 40px;
	letter-spacing: 0.8em;
	text-align: center;
}

#title h1 {
	margin-top: 20px;
}

.toolbar {
	background-color: white;
	margin-top: 5px;
	margin-bottom: 5px;
	padding:5px 20px;
	line-height: 32px;
	height: 32px;
	border-radius: 5px;
	position: relative;
}

.balloon {
	width: 450px;
	height: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	position: absolute;
	margin: 0;
	font-size: 30px;
	line-height: 30px;
	color: red;
	border-radius: 6px;
	text-align: center;
	background: #ffdab9;
	border: 1px solid black;
	top: 100px;
	display: none;
}

button, input[type="button"] {
	width: 120px;
	height: 25px;
	padding-top: 2px;
	padding-bottom: 3px;
	line-height: 15px;
	border-radius: 5px;
	background-color: white;
	border: solid black 2px;
	cursor: pointer;
}

#startbtn {
	width: 100px;
	position: absolute;
	left: 400px;
	top: 500px;
}

#restartbtn, #backtitle {
	position: absolute;
	right: 20px;
	margin-top: 3.5px;
	margin-bottom: 3.5px;
}

#backtitle {
	right: 150px;
}

#cards {
	position: relative;
	width: 870px;
	height: 450px;
}

#cards img {
	width: 100px;
	height: 140px;
	position: absolute;
}

#cards li {
	float: left;
}

#comscore, #plscore {
	height: 100px;
	width: 520px;
	background-color: #fffaf0;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 10px 5px;
	border-radius: 5px;
	text-align: center;
	vertical-align: middle;
}

#comscore img, #plscore img {
	border: solid black 1px;
	border-radius: 4px;
}

#comscore {
	margin-left: auto;
	position: relative;
}

#comcount, #plcount {
	font-size: 25px;
}

#comcards, #plcards {
	position: absolute;
}

#comcards {
	left: 0;
	right: 0;
}

.countcards {
	width: 50px;
	height: 70px;
	position: absolute;
}

#title {
	display: block;
}

#game {
	background-color: green;
	display: none;
}

#gameset {
	display: none;
	position: absolute;
	left: 100px;
	top: 350px;
	border: solid 1px black;
	width: 640px;
	font-size: 50px;
	background: white;
}